/* Custom Styles Write Here ... */

.one-third.column {
		
	margin-left: 0px;
	/*padding-right: 10px;*/
	padding-right: 0px;
	padding-left: 5px;
}


h1, h2 {
    color: #a6430a;
    margin: .2em auto;
}

h3 {
    	color: #a6430a;
    	margin: .25em auto;
	font-size: 2.0rem;
}


h4 {
    	color: #002699;
    	margin: .25em auto;
	font-size: 2.0rem;
}

.headerImage{
	background: url("../images/header-taiwan-2014.jpg") no-repeat center;
	height: 240px;
	background-size: auto;
}

.headerImage h2 {
	font-size: 3.0rem;
	color: #ffffff;
	font-weight: 800;
	text-shadow: 2px 1px #333DFF;
}

.headerDescription {
	margin-top: -15px; 
	padding-left: 30px;
	padding-right: 10px;
	font-size:1.3em;
	color: #ffffff;
	font-weight: 800;
	display: inline-block; 
	background-color: black;
}

.headerMenu {
	background-color:#ccc;
	height: 20px;
	padding:10px;
}

img {
	max-width: 100%;
    	/*max-height: 100%;*/
	height: auto;
}

.imgleft {
	float: left;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0px;
}


.wp-block-image .alignleft {
  float: left;
  margin: .5em 1em .5em 0;
}

figure.wp-block-image {
	border-style: solid;
  	border-width: 1px;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}


figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.boxer {
   display: table;
   border-collapse: collapse;
}
 
.boxer .box-row {
   display: table-row;
}
 
.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   /*border: 1px solid black;*/
}

.boxer .box2 {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: 1px solid black;
   padding: 10px;
   text-align: center;
} 


u { 
  text-decoration: underline;
}

/* Header Navigation Menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6430a;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  /*padding: 14px 16px;*/
  padding-top: 14px;
  padding-left: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #a6430a;
}


.lcp_catlist li {
  padding: 3px 0;
  /*border-bottom: 1px solid #a6430a;*/
  list-style: disc;
  margin-left: 15px;
}

li.listing-item {
  margin-bottom:0px;
}

li.listing-item a:visited {
  color: #b424ea;
}

li.table-content-info-listing a:visited {
  color: #b424ea;
}

.dayTourTitle {
    font-size: 16px;
   color: #a6430a;
   font-weight: bold;
   padding: 10px 0px 10px 0px;
   border-bottom: 2px solid #a6430a;
}

.table-content-day-title {
	padding:5px; 
	background-color: #1f618d; 
	color: #ffffff;
}

.table-content-info-list-style {
	list-style-image: url('../images/info.png');
}

.table-content-info-listing {
	padding-left:20px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.green {
    	color: #009900;
}


.wp-block-quote {
	color: #777;
	font-style: italic;
	margin: 0 0 20px;
	padding: 10px 10px 5px 40px;
	background-color: #f2f4f4;
}


/* Travel Tours Display*/
.travelContent{
	height: 210px;
	/*border: 1px solid #ccc;*/ /* Use for design process */
}

img {
	max-width: 100%;
    max-height: 100%;
}



/* break intro article to 2 column for easy reading */
article {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 3500px;
     -moz-column-width: 350px;
          column-width: 350px;
}

.footerContent {
	margin-top:15px;
	height:100px;
	background-color:#ddd;
	text-align: center;
	line-height: 100px;
}

/* If browser window is 600px or smaller, display one travel only */
@media only screen and (max-width: 600px) {
	.one-third.column {
		width:100%;
		margin-left: 0px;
	}
	
	.one-half.column  {
		width:100%;
	}

	.two-thirds.column {
		width:100%;
		margin-left: 0px;
	}
	
}

/* If browser window greater than 601px AND smaller than 950, dispaly 2 travel */
@media only screen and (min-width:601px) and (max-width:950px) {
	.one-third.column {
		width:50%;
		margin-left: 0px;
		padding-right: 25px;
	}
	
	.travelImageBox h3 {
		font-size: 1.5rem;
	}
	
	.one-half.column  {
		width:100%;
	}

	.two-thirds.column {
		width:100%;
		margin-left: 0px;
	}
}

/* If browser window greater than 751px AND smaller than 1200, larger travel heading font */
@media only screen and (min-width:751px) and (max-width:1200px) {
	
	.travelImageBox h3 {
		font-size: 1.8rem;
	}
	
}

/* If browser window is 951px or greater, dispaly 3 travel */
@media only screen and (min-width: 951px) {
	.one-third.column {
		width:33%;*/
		/*width: 32%*/
	}

	.two-thirds.column {
		width:64%;
		margin-right: 20px;
	}
}
